extends layouts/main.pug

block content
  .container.login__container
    .card.form__container
      .card-header
        h3.panel-title Reset password
      .card-body
        form(action="", method="post")
          .form-group.mb-2
            label.pt-2.pb-2 Enter your email address
            input.form-control(type="text", placeholder="john@gmail.com", required="")
      .card-footer
        .form-group
            button.btn.btn-primary(type="submit") submit
            a.btn.btn-default(href="/auth/login") Login