extends layouts/main.pug


block sideleft
  .container
    .logo
      a.icon-sign-language.h1
    .menu
      ul.pl-0
        li.link-item
          a.icon-home.link(href="/")  Home
        li.link-item
          a.link.icon-hashtag(href="/explore")  Explore
        li.link-item
          a.link.icon-bell(href="/notifications")  Notifications
          span.notification_count  2
        li.link-item
          a.link.icon-mail(href="/messages")  Messages
          span.notification_count  12
        li.link-item
          a.link.icon-user-o(href="/profile")  Profile
        li.link-item
          a.link.icon-menu(href="/more")  More
    a.btn.btn-primary Something in mind ?
    .profile
      .avatar
        image(src=profile.image, width="49px" height="49px")
      .content
        span #{profile.user.firstname} #{profile.user.lastname}
        span @#{profile.user.username}
    .logout
      form(action="/logout", method="post")
        button.btn.btn-warning.icon-logout(type="submit") Logout


block timeline
  .timeline__head
    .head__title.d-flex.align-items-center
      h2 Home
    +createPostForm(profile.image)
        


    .head__end
    .timeline_post
      +postItem(profile)


block sideright
  .pt-2
    .search__bar
      form(action="", method="post")
        .input-group
          input.form-control(type="text")
          button.icon-search.btn.btn-outline-secondary(type="submit")
    .trend_for_you.mt-4
      .list-group.trend
        .list-group-item
          h4.h5.mb-0 Trends for you
        .list-group-item 
          span Trending in south africa
          h5 #PrayForEmtee
          span 2, 2442 claps
        .list-group-item 
          span Trending in south africa
          h5 Teddy
          span 2, 2442 claps
        .list-group-item 
          span Trending in south africa
          h5 #PrayForEmtee
          span 2, 2442 claps
        .list-group-item 
          span Trending in south africa
          h5 #PrayForEmtee
          span 2, 2442 claps
        .list-group-item 
          span Trending in south africa
          h5 #PrayForEmtee
          span 2, 2442 claps
    
    .who_will_follow.mt-3
      .list-group-item
        h4.h5.mb-0 Who to follow
      .list-group-item.d-flex.align-items-center.justify-content-between
          span.icon-hashtag.h5
          .content
            h4.user-title.mb-0 Huawei Europe
            span @huaweieurope
          button.btn.btn-default follow

      