html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;

}

.btn {
  border-radius: 0;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, .25);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0077B6;
  height: 100%;
}

.card.form__container {
  margin: auto;
  width: 60%;
}

.login__container {
  height: 100%;
  padding: 20px;
}

.customField {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}