mixin postItem(item)
    .timeline_post_item.p-2
        .timeline_post_item_content
            .timeline_item_head.d-flex.align-items-center
                .avatar.pb-3
                    image(src="/images/avatar.webp", width="49px" height="49px")
                .timeline_item_head_content.pl-2
                    h4.h5.title.mb-0 BBC News(world)
                    p.timeline_head_sub
                        span Replying to 
                        a(href="") @BBCWorld
            p.timeline_item_desc Roughly the same number of people across the US were in hospital with Covid during the first and second waves of the outbreak. But this third wave is even greater - by more than 70,000 at the moment
        .timeline_post_item_action.d-flex.align-items.center.justify-content-between
            .tweet_item
                span.icon-comment
                span 23
            .item_item
                span.icon-retweet
                span 2
            .item_item
                span.icon-heart-empty
                span 3
            .item_item
                span.icon-upload-cloud